{% extends 'index.html' %}

{% block title %} {% endblock title %}

{% block content %} 

    <h1>Tareas</h1>

    {% include 'todo/partials/search.html' %}

    <span class="aux-btns">
        <a href="{% url 'todo' %}">Ver todos</a> 
        <a 
            href="{% url 'todo_create' %} " 
            class="btn btn-primary" 
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            ><i class="fa-solid fa-plus" title="Create Record"></i>
        </a>
    </span>
    <hr class="line-table">
        <ul class="list">
            {% for todo in todos %}
                <hr class="line-table">
                    <li> {{ todo }} 
                        <span>
                            <a
                                href="{% url 'todo_view' id=todo.id %}"
                                class="btn btn-primary"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                ><i class="fa-sharp fa-thin fa-newspaper" title="Detail Record"></i>
                            </a>
                            <a
                                href="{% url 'todo_edit' id=todo.id %}"
                                class="btn btn-primary"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                            </a>
                            <a
                                href="{% url 'todo_delete' todo.id %}"
                                class="btn btn-danger"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                            </a>                      
                        </span>
                    </li>
                <hr class="line-table">
            {% endfor %}
        </ul>

{% endblock content %} 
