15_archivo.py
Mi1Pack.egg-info
Nueva carpeta
__pycache__
ej_clase01.py
ej_clase02.py
ej_clase03.py
ej_clase04.py
ej_clase05.py
ej_pre-entrega_1.py
my_script.py
prueba.py
setup.py
varios
__pycache__
dist
Segunda_pre_entrega_Potrich.egg-info
db.json


