{% extends 'index.html' %}

{% block title %}

<h2 class="mb-0">
    Crear
    <span class="text-primary">Contacto</span>
</h2> 

{% endblock title %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock styles %}

{% block content %} 

    <form action="{% url 'contact_create' %}" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="btn-wrapper">
            <input type="submit" value="Enviar" class="btn-send">
            <span class="aux-btns-form"><a href="{% url 'contact' %}">Volver atras</a></span>
        </div>
    </form>
{% endblock content %} 
